.form-login-container {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  align-items: center;
  width: 100%;
  height: 100vh;

  .login-form-phone {
    width: 300px;
  }

  .ant-form-item {
    margin-bottom: 10px;
  }

  .ant-form-item-explain {
    width: 300px;
  }
}
