.rule-manager-container {
  margin: 10px 10px;
  .tool-container {
    display: flex;
    justify-content: space-between;
  }
}
.add-rule-modal-container {
  top: 30px;
  .add-rule-form {
    .ant-form-item {
      margin-bottom: 7px;
    }
    .rule-condition {
      .ant-form-item {
        margin-bottom: 0px;
      }
    }
    .input-temp div input {
      text-align: center;
    }
    .timepicker {
      .ant-picker-input {
        input {
          text-align: center;
        }
        input[placeholder='Thời Gian Kết Thúc'] {
          margin-left: -3px;
        }
      }
    }
  }
}
