.medical-record-manager-container {
  margin: 10px 10px;
  .tool-container {
    display: flex;
    justify-content: space-between;
  }
}
.add-edit-medical-record-modal-container {
  top: 65px;
  .add-edit-medical-record-form {
    .ant-form-item {
      margin-bottom: 7px;
    }
  }
}

.refresh-icon-temp-loading-on {
  animation-name: spin_icon;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.refresh-icon-temp-loading-off {
  animation-name: none;
}

@keyframes spin_icon {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
